table {
  width: 420px;
  height: 420px;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 100px auto;
}

th,
td {
  width: 140px;
  height: 140px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
}

.points-container {
  padding: 80px auto;
}

/* Hiển thị result-box ở trung tâm */
.result-box {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  z-index: 1001;
}
